
*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:linear-gradient(135deg,#000000,#120018,#2b0038);
height:100vh;
display:flex;
justify-content:center;
align-items:center;
overflow:hidden;
color:white;
}

.intro{
text-align:center;
}

.title{
font-family:'Great Vibes',cursive;
font-size:70px;
color:#ff4da6;
text-shadow:0 0 20px #ff4da6;
}

.name{
margin-top:10px;
font-size:35px;
color:white;
}

.subtitle{
margin-top:25px;
font-size:22px;
opacity:.8;
}

.heart{
font-size:80px;
margin-top:30px;
animation:beat 1s infinite;
}

button{
margin-top:40px;
padding:18px 45px;
border:none;
border-radius:50px;
background:#ff4da6;
color:white;
font-size:20px;
cursor:pointer;
transition:.4s;
}

button:hover{
transform:scale(1.08);
}

@keyframes beat{

0%{
transform:scale(1);
}

50%{
transform:scale(1.2);
}

100%{
transform:scale(1);
}

}
